node {
	fill-color: grey;
	size: 7px;
}

edge {
    size: 0.5px;
}

node.blue {
	fill-color: blue;
}

node.red {
	fill-color: red;
}

node.green {
	fill-color: green;
}

node.cyan {
	fill-color: cyan;
}

node.yellow {
	fill-color: yellow;
}

node.purple {
	fill-color: purple;
}

node.aquamarine {
	fill-color: aquamarine;
}

node.magenta {
	fill-color: magenta;
}
