node {
	fill-color: grey;
	size: 10px;
	stroke-mode: plain;
	stroke-color: black;
	stroke-width: 1px;
}

node.blue {
	fill-color: blue;
}

node.red {
	fill-color: red;
}

node.orange {
	fill-color: orange;
}