node {
	fill-color: grey;
	size: 7px;
}

edge {
    size: 0.5px;
}

node.blue {
	fill-color: blue;
}

node.red {
	fill-color: red;
}

node.orange {
	fill-color: orange;
}

node.important {
	fill-color: red;
	size: 10px;
}